audiomentations
imageio
ipdb
IPython
jupyter
jupyterlab
librosa
matplotlib
noisereduce
numpy
nbdime
packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
pandas
pylint
PyQt5==5.12.3
pytest
scikit-learn
scipy
streamlit
scipy.io.wavfile
scipy.signal
